@import '~compass-mixins/lib/compass/css3';

:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

mat-sidenav-container {
  background: #0b0a1d;
  background-size: 1920px;
  background-position: center;
  background-image: url(/assets/blured-background.jpg);
  transition: background-size .15s linear, background-image 3s, opacity .1s linear;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
  &.pulse {
    background-size: 1916px;
  }
  @media screen and (max-width: 599px) {
    top: 0;
  }
}

mat-sidenav-content {
  overflow: hidden;
}

.cube {
  height: 90%;
  width: 10em;
  position: absolute;
  background: rgba(20, 22, 22, 0);
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin: auto;
  perspective: 1000px;
  font-size: 100px;
  animation: fadeOut 2s linear 1 forwards;

  @keyframes fadeOut {
    0%, 80% {
      background: rgba(20, 22, 22, 0.4);
    }
    100% {
      background: rgba(20, 22, 22, 0);
    }
  }

  @media screen and (max-height: 800px) {
    font-size: 85px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 9.6vw;
    height: 95%;
  }

  @media screen and (max-width: 599px) {
    height: 97.3%;
    font-size: 9.5vw;
  }

  .dark-screen {
    background: #000;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity .5s ease-out;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.is-loading {
    .side {
      animation: pulse 2s infinite;
      @keyframes pulse {
        0%, 100% {
          transform: scale(1) translateZ(-5em);
        }
        50% {
          transform: scale(1.01) translateZ(-5em);
        }
      }
    }

    .dark-screen {
      animation: pulseDarkScreen 2s infinite;
      @keyframes pulseDarkScreen {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.01);
        }
      }
      opacity: .5;
      transition: opacity .3s ease-out;
    }
  }
}

.side {
  transform-style: preserve-3d;
  transform: translateZ(-5em);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

:host ::ng-deep .side > :not(router-outlet) {
  color:#fff;
  background-color: rgba(19, 21, 31, 0.85);
  background-image: url(/assets/blured-background.jpg);
  background-position: 50% 50%;
  background-size: 1940px;
  @include box-shadow(0 0 30px rgba(0, 0, 0, 0.6));
  position: absolute;
  transform: rotateY(0deg) translateZ(5em);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  section {
    background: rgba(20, 22, 22, 0.6);
    flex: 1;
  }
}

