a mat-icon {
  font-size: 22px;
}


nav > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0 0 0;
}

main {
  padding: 0px 13px 13px 13px;
  min-height: 100%;

  @media screen and (max-width: 440px) {
    padding: 0px;
  }
}

.question {
  background: rgba(255,255,255,1);
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  align-self: normal;
  margin-top: 30px;
  padding: 15px;
  mat-card-title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
