header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  background: rgba(28, 31, 31, 0.6);
  height: 126px;
  font-size: 14px;
  .title {
    flex-grow: 1;
    margin-left: 15px;
    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 24px;
    }
  }
  .edit-emoji {
    font-size: 36px;
    line-height: 1;
    display: flex;
    align-items: center;
    a {
      margin-left: 10px;
    }
  }
}

:host > section {
  padding: 0;
  overflow: hidden;
}

canvas {
  flex-grow: 1;
}

footer {
  font-size: 16px;
  background: rgba(28, 31, 31, 0.6);
  display: flex;
  input {
    flex-grow: 1;
    font-size: 16px;
    padding: 10px 15px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
  }
  button {
    padding: 10px 15px;
  }
}
