
header {
  display: flex;
  margin-bottom: 0;
  padding: 35px;
  background: rgba(28, 31, 31, 0.6);
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: url(/assets/photos/mikhail-tsai.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-size: 115%;
  background-position: top;
  margin-left: 14px;
}

.infoblock {
  padding-left: 24px;
  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
  }
}

.online {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 2px;
  &:before {
    content: '';
    display: inline-block;
    background: #2aff6f;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
  }
  small {
    font-size: 12px;
    font-weight: 300;
    &:before {
      content: '|';
      margin-left: 7px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}
